<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/56e6b681-5887-406e-9f6b-a72b0bccd747/resourceGroups/terra-az-sqldb-resourcegroup/providers/Microsoft.ApiManagement/service/terra-az-sqldb-linuxwebapp-apim/apis/terra-az-sqldb-linuxwebapp-api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/56e6b681-5887-406e-9f6b-a72b0bccd747/resourceGroups/terra-az-sqldb-resourcegroup/providers/Microsoft.Web/sites/terra-az-sqldb-linuxwebapp</ResourceId>
    <ResourceGroup>terra-az-sqldb-resourcegroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://terra-az-sqldb-linuxwebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>53b7c067-1268-4829-851e-f9e2c3692d40</ProjectGuid>
    <PublishUrl>https://terra-az-sqldb-linuxwebapp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$terra-az-sqldb-linuxwebapp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>