<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/1ff193c4-98eb-4381-b193-f0f3d62e9932/resourceGroups/demo-resource-group/providers/Microsoft.ApiManagement/service/apimanagementhox6wp/apis/apihox6wp</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/1ff193c4-98eb-4381-b193-f0f3d62e9932/resourceGroups/demo-resource-group/providers/Microsoft.Web/sites/webapphox6wp</ResourceId>
    <ResourceGroup>demo-resource-group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://webapphox6wp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>9103d6ee-af53-4b7d-a706-290584c71815</ProjectGuid>
    <PublishUrl>https://webapphox6wp.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webapphox6wp</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>